header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background: black;
}
header>h1{
    font-size: 3rem;
    font-weight: bolder;
    color: white;
}
.movie-search{
    font-size: 1.6rem;
    padding: 1rem;
}